* {
    margin: 0px;
    padding: 0px;
}


.main {

    width: 100%;
    height: 300px;
    text-align: center;
      font-family: "Bitcount Prop Single", system-ui;
}

.mainbox {
    width: calc(25% - 11px);
    height: 250px;
    border: black 3px;
    float: left;
    margin: 5px;
}

.dbox {
    width: calc(33.33% - 11px);
    height: 250px;
    border: black 3px;
    margin: 5px;
    float: left;
}

.box2 {
    width: calc(20% - 10px);
    height: 250px;
    border: black 3px;
    margin: 5px;
    float: left;
}

.box3 {
    width: calc(16.67% - 11px);
    height: 250px;
    border: black 3px;
    margin: 5px;
    float: left;
}

img {
    width: 100%;
    height: 250px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    height: 40px;
    font-size: 30px;
    color: antiquewhite;
    background-color: brown;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.text1{
    background-color: antiquewhite;
    text-align: center;
    color: brown;
    font-size: 28px;
}
.text{
     background-color: antiquewhite;
    text-align: center;
    color: brown;
    font-size: 40px;
}