* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
}

/* Logo */
.logo {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 32px;
}

/* Navigation */
.nav {
    display: flex;
    gap: 24px;
}

/* Links */
.nav-link {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

.intro {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 42px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.setup {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 900px;
    align-items: center;
    font-family: "Bitcount Prop Single", system-ui;
    text-align: center;
    flex-wrap: wrap;
}

.box {
    width: 33.33%;
    height: 400px;

}

.box img {
    width: 70%;
    height: 350px;
}