* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header container */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: floralwhite;
}

/* Logo */
.logo {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 32px;
}

/* Navigation */
.nav {
    display: flex;
    gap: 24px;
}

/* Links */
.nav-link {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

.landimg img {
    height: 100%;
    width: 1521px;
    margin-bottom: 10px;
}

.mainhead {
    text-align: center;
    line-height: 100vh;
     font-family: "Bitcount Prop Single", system-ui;
     font-weight: 400;
}

.pah1 {
    color: rgb(255, 255, 255);
}

.pah2 {
    color: grey;
}

.pah3 {
    color: rgb(188, 42, 42);
}

.pah4 {
    color: rgb(183, 182, 182);
}

.pah5 {
    color: rgb(0, 0, 0);
}

.pah6 {
    color: #ffd4a3;
}

.pah7 {
    color: #ff3300;
}

.mainback {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.page1 {
    background-image: url(../img/landingpage1.avif);
}

.page2 {
    background-image: url(../img/landingpage2.avif);
}

.page3 {
    background-image: url(../img/landingpage3.avif);
}

.page4 {
    background-image: url(../img/landingpage4);
}

.page5 {
    background-image: url(../img/landingpage5.avif);
}

.page6 {
    background-image: url(../img/landingpage6.avif);
}

.page7 {
    background-image: url(../img/landingpage7.avif);
}

.page8 {
    background-color: black;
}

.footer {
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 3px;
    margin: 18px 0;
    font-family: "Bitcount Prop Single", system-ui;
}