/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FULL HEIGHT LAYOUT */
html, body {
    height: 100%;
}

/* BODY FLEX */
body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
}

/* Logo */
.logo {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 32px;
}

/* Navigation */
.nav {
    display: flex;
    gap: 24px;
}

/* Links */
.nav-link {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

/* TITLE */
.intro {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 42px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

/* PRODUCT SECTION */
.setup {
    flex: 1; /* IMPORTANT: pushes footer to bottom */
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-family: "Bitcount Prop Single", system-ui;
    text-align: center;
    flex-wrap: wrap;
}

/* PRODUCT BOX */
.box {
    width: 20%;
    height: 400px;
}

.box img {
    width: 100%;
    height: 310px;
}

/* FOOTER */
.footer {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* keeps footer at bottom */
}

/* FOOTER LINKS */
.footer-menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 3px;
    margin: 18px 0;
    font-family: "Bitcount Prop Single", system-ui;
}
