<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--HEADER-->
    <table width="100%" bgcolor="lightgrey">
        <tr align="left">
            <td><a href="#"><img src="./aplogo.png" width="5%"></a></td>
        </tr>
        <tr align="right">
            <td>
                <a href="#">MENU 1</a> |
                <a href="#">MENU 2</a> |
                <a href="#">MENU 3</a> |
                <a href="#">MENU 4</a> |
                <a href="#">MENU 5</a> |
                <a href="#">MENU 6</a>
            </td>
        </tr>
    </table>
    <!--main section-->
    <td>
        <table width="100%">
            <tr>
                <td width="100%">
                    <img src="./main1.jpg" alt="phone" width="100%">
                </td>
            </tr>
        </table>
    </td>
    <td>
        <table width="100%">
            <tr>
                <td>
                    <img src="./logo1.png" alt="apple logo" height="300px">
                </td>
                <td bgcolor="lightgrey">
                    <h1>APPLE</h1>
                    <p>The iPhone is a line of smartphones developed and marketed by Apple that run iOS, the company's
                        own mobile operating system. The first-generation iPhone was announced by then–Apple CEO and
                        co-founder Steve Jobs on January 9, 2007, at Macworld 2007, and launched later that year. Since
                        then, Apple has annually released new iPhone models and iOS versions; the latest models being
                        the iPhone 17, the higher-end iPhone 17 Pro and 17 Pro Max, and the thinner iPhone Air. As of
                        July 2025, more than 3 billion iPhones have been sold, and Apple has been the largest vendor of
                        mobile phones since 2023.</p>
                </td>
            </tr>
        </table>
    </td>
    <td>
        <table width="100%">
            <tr >
                <td width="33.33%" bgcolor="pink">
                    <img src="./iphone15.webp" alt="iphone 15" width="100%">
                </td>
                <td width="33.33%" bgcolor="aqua">
                    <img src="./iphone16.webp" alt="iphone 16" width="100%">
                </td>
                <td width="33.33%" bgcolor="orange">
                    <img src="./iphone17.jpeg" alt="iphone 17" width="100%">
                </td>
            </tr>
            <tr>
                <td align="center"  bgcolor="pink">
                    iPhone 15
                    <p><b>The iPhone 15 display has rounded corners that follow a beautiful curved design, and these corners are within a standard rectangle. When measured as a standard rectangular shape, the screen is 6.12 inches diagonally (actual viewable area is less).</b></p></td>
                <td align="center" bgcolor="aqua">
                    iPhone 16
                    <p><i>The iPhone 16 introduces updates to its camera system, aimed at refining photography capabilities across various scenarios. The 48-megapixel main sensor and f/1.6 aperture are intended to improve low-light performance, allowing for better photo clarity in dim settings, such as nighttime or indoor environments.</i></p></td>
                <td align="center" bgcolor="orange">
                    iPhone 17
                    <p><u>Meet the new iPhone 17. Designed with contoured edges, thinner borders and durable materials like Ceramic Shield 2 on the front, it looks — and stays — beautiful. You can see and do more of everything you love on a 15.93 cm (6.3″) Super Retina XDR display.</u></p></td>
            </tr>
        </table>
    </td>
    <td>
        <table width="100%">
            <tr bgcolor="lightgrey">
                <td bgcolor="green" width="30%" height="100%">
                    <video width="100%" height="100%" controls>
                        <source src="./Introducing iPhone Air  Apple - Apple (240p, h264).mp4" type="video/mp4">
                </td>
                <td bgcolor="green">
                    <h1>iPhone 17 Air - Apple</h1>
                    <p>The iPhone 17 is designed with contoured edges, thinner borders, and durable materials like Ceramic Shield 2 on the front, making it both visually appealing and resilient. The device features a 15.93 cm (6.3") Super Retina XDR display, providing an immersive viewing experience for all your favorite content.</p>
                </td>
            </tr>
        </table>
    </td>
    <td>
        <table width="100%">
            <tr width="100%" >
                <td width="33.33%" bgcolor="#FFF9DE" align="ceter">
                    <h2>Contact Us On:</h2>
                    <p>Email:apple09@gmial.com</p>
                    <p>Phone: +1234567890</p>
                    <p>Address: 124 street,basmati bazar,america 382350</p>
                </td>
                <td width="33.33%" bgcolor="#F2F2F2">
                    <video width="100%" height="100%" controls>
                        <source src="./Apple Holiday  A Critter Carol  Shot on iPhone 17 Pro - Apple (144p, h264).mp4" type="video/mp4">
                </td>
                <td width="33.33%" bgcolor="#E2FFDE" align="center">
                    <h2>Follow Us On:</h2>
                    <p><a href="#">Facebook</a></p>
                    <p><a href="#">Twitter</a></p>
                    <p><a href="#">Instagram</a></p>
                </td>
            </tr>
        </table>
    </td>
    <hr height="2px" color="black" width="70%">
</body>

</html>