/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FULL HEIGHT LAYOUT */
html, body {
    height: 100%;
}

/* BODY FLEX */
body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: skyblue;
    transition: all ease-in-out 0.5s;
}

/* Logo */
.logo {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 32px;
}
.logo a:hover{
    color: red;
    transition: all ease-in-out 0.5s;
}

/* Navigation */
.nav {
    display: flex;
    gap: 24px;
}

/* Links */
.nav-link {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

/* TITLE */
.intro {
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 42px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}
.intro a:hover{
    color: rgb(248, 194, 56);
    transition: all ease-in-out 0.5s;
}


/* PRODUCT SECTION */
.setup {
    flex: 1; /* IMPORTANT: pushes footer to bottom */
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-family: "Bitcount Prop Single", system-ui;
    text-align: center;
    flex-wrap: wrap;
}

/* PRODUCT BOX */
.box {
    width: 20%;
    height: 400px;

}

.box img {
    width: 100%;
    height: 310px;
    filter: grayscale(10%);
}
.box img:hover {
    transform: scale(1.10);
    filter: grayscale(0%);
    transition: all ease-in-out 0.1s;
}
/* FOOTER */
.footer {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* keeps footer at bottom */
}

/* FOOTER LINKS */
.footer-menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 3px;
    margin: 20px;
    text-align: center;
    font-family: "Bitcount Prop Single", system-ui;
}
.footer-menu a:hover {
    color: skyblue;
    text-shadow: 0px 0px 3px white;
    transition: all ease-in-out 0.5s;
}
.text1{
    color: white;
}
.text1:hover {
    color: #000000;
    transition: all ease-in-out 0.5s;
    
}
.text2{
    color: rgb(255, 255, 255);
}
.text2:hover {
    color: #941C1F;
    transition: all ease-in-out 0.5s;
    
}
.text3{
    color: rgb(255, 255, 255);
}
.text3:hover {
    color: #000000;
    transition: all ease-in-out 0.5s;
    
}
.text4{
    color: rgb(255, 255, 255);
}
.text4:hover {
    color: #941C1F;
    transition: all ease-in-out 0.5s;
    
}
.text5{
    color: rgb(255, 255, 255);
}
.text5:hover {
    color: #4B8DA6;
    transition: all ease-in-out 0.5s;
    
}
.text6{
    color: rgb(255, 255, 255);
}
.text6:hover {
    color: #777B7E;
    transition: all ease-in-out 0.5s;
    
}
.text7{
    color: rgb(255, 255, 255);
}
.text7:hover {
    color: #1E292C;
    transition: all ease-in-out 0.5s;
    
}
.text8{
    color: rgb(255, 255, 255);
}
.text8:hover {
    color: rgb(126, 33, 41);
    transition: all ease-in-out 0.5s;
    
}
.text9{
    color: rgb(255, 255, 255);
}
.text9:hover {
    color: rgb(126, 33, 41);
    transition: all ease-in-out 0.5s;
    
}
.text10{
    color: rgb(255, 255, 255);
}
.text10:hover {
    color: #26708F;
    transition: all ease-in-out 0.5s;
    
}
.text11{
    color: rgb(255, 255, 255);
}
.text11:hover {
    color: #42A23B;
    transition: all ease-in-out 0.5s;
    
}
.text12{
    color: rgb(255, 255, 255);
}
.text12:hover {
    color: #DD452C;
    transition: all ease-in-out 0.5s;
    
}
.text13{
    color: rgb(255, 255, 255);
}
.text13:hover {
    color: #2B2D2E;
    transition: all ease-in-out 0.5s;
    
}
.text14{
    color: rgb(255, 255, 255);
}
.text14:hover {
    color: #A8A9AC;
    transition: all ease-in-out 0.5s;
    
}
.text15{
    color: rgb(255, 255, 255);
}
.text15:hover {
    color: #889B92;
    transition: all ease-in-out 0.5s;
    
}
.text16{
    color: rgb(255, 255, 255);
}
.text16:hover {
    color: #5B5B5D;
    transition: all ease-in-out 0.5s;
    
}
.text17{
    color: rgb(255, 255, 255);
}
.text17:hover {
    color: #CB301F;
    transition: all ease-in-out 0.5s;
    
}
.text18{
    color: rgb(255, 255, 255);
}
.text18:hover {
    color: #96ADA7;
    transition: all ease-in-out 0.5s;
    
}