*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 50px;
    width: 100%;
    align-items: center;
}
ul{
    list-style: none;
}
